$local-transition-duration: .1s;

.btn {
  border-radius: 2px;
  transition: all $local-transition-duration ease-in-out;

  font-size: 1rem;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: .375rem 1.25rem;
  font-weight: 500;
}



.btn-loading-black {
  &:after {
    border: 2px solid rgba(#000, .1) !important;
    border-top-color: rgba(#000, .5) !important;
  }
}