.app-footer-copy {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-footer-copyright {
  font-size: 14px;
  width: 100%;
  text-align: center;
  /* color: ; */
}